{% extends "base.html" %}

{% block title %}
  All Members |
{% endblock title %}

{% block MemberList %}
    <div class = "container">
    <h1>Meet Our Stars!!</h1>
        <div class = "row">
            <div class = "col-sm-10">
            {{query_string}}
                
                <p class = 'lead'>
                    Each and every one of our members represent the spirit of our class: driven, committed, and acutely aware of how limitless our potential is to grow. Click through our Member list to learn more and read what motivates them.
                </p>
            </div>
        </div> <!-- row -->
<a href = "{% url 'Add Member' %}" role = 'button' class = 'btn btn-primary'>Join Us!!</a>
        <div class = "row">
            {% for member in all_member  %}
                 <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-4">

                    <div class = "card">
                    <a href = "{% url 'Member Detail' pk=member.pk %}" >
                        <img class = "card-img-top img-responsive" src = {{member.image.url}}>
                    </a> <!-- Link-To-Detail -->
                        <div class = "card-block">
                            <figure class = "profile">
                                <img src = {{member.image.url}} class = "profile-avatar" alt="">
                            </figure>
                            <h4 class = "card-title mt-3"><a class = ''href = "{% url 'Member Detail' pk=member.pk %}" >{{member.full_name}}</a></h4>
                            <div class = "meta">
                                <a>Friends</a>
                            </div>
                            <div class = "card-text">
                                
                            </div>
                        </div> <!-- card-block -->
                    </div> <!-- card -->
                </div>
            {% endfor %}
        </div> <!-- row -->
    </div> <!-- container -->
    


{% endblock MemberList %}
