{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Member |
{% endblock title %}

{% block NewMember %}
  <div class = 'container'>
    <div class="row">

        <div class="col-md-offset-2 col-md-8">
            <form method = 'POST' action = '' enctype = 'multipart/form-data'>
            {% csrf_token %}
            {% crispy form %}
              <script src = "{% static 'js/tinymce/tinymce.min.js' %}"></script>
             <script type="text/javascript">
                tinymce.init({
                selector: "textarea",
                branding: false,
                setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                }
              });

            </script>
            </form>
        </div>
    </div>
  </div> <!-- container -->
{% endblock NewMember %}